<div class="well">
    <ul class="nav nav-list">
        <li class="nav-header">Nos produits</li>
            <li class="active">
            {% for categorie in categories %}
                <div style="padding-left: 30px;" class="row">
                    <a href="{{ path('app_produits', { 'categorie' : categorie.id}) }}">{{ categorie.nom }}</a>
                </div>
            {% endfor %}
        </li>
    </ul>
</div>